@startuml [(${isRootService} ?  ${applicationName} : ${applicationName}+'_'+${serviceName})]_[[${interfaceName}]]
' generated on [[${dateCreated}]]
' Define UML_STRICT and DETAILED etc. before including as this is needed in common.iuml
'!$UML_STRICT=%true()
'!$DETAILED=%true()
'!$[[${#strings.toUpperCase(applicationName)}]]_SIMPLE=%true()
'!$SHOW_TODO=%true()
' include common !functions and !procedures
!if (%variable_exists('$GLOBAL_BASE_URL') && %strpos($GLOBAL_BASE_URL,'http') == 0)
    !$[[${COMPLETE_INTERFACE_PATH}]]_FILE_BASE_PATH?=$GLOBAL_BASE_URL
!else
    !$[[${COMPLETE_INTERFACE_PATH}]]_FILE_BASE_PATH?='[[${commonPath}]]'
!endif
!include $[[${COMPLETE_INTERFACE_PATH}]]_FILE_BASE_PATH/common/common.iuml
!assert %variable_exists("$DETAILED") : "Please define !$DETAILED=%false()/%true()"
' This variable can be used to hide everything what would be called subsequently
!$[[${#strings.toUpperCase(applicationName)}]]_SIMPLE ?= %false()

'Definition of the components
!if (%not(%variable_exists("$[[${#strings.toUpperCase(applicationName)}]]_COMPONENT_CREATED")))
  !$[[${#strings.toUpperCase(applicationName)}]]_COMPONENT ?= 'component "**[[${applicationLabel}]]**\nPlease define\nthe component \nin **component_definition.iuml**" as [[${ALIAS}]] [(${colorType})] #Red'
  'display the component
  $[[${#strings.toUpperCase(applicationName)}]]_COMPONENT
  !global $[[${#strings.toUpperCase(applicationName)}]]_COMPONENT_CREATED=%true()
!endif
!if ($DETAILED)
  interface "[(${componentIntegrationType})] $INDIVIDUAL_METHODS('[[${HTTP_METHODS}]]') <font size=8><i>[[${SERVICE_LABEL}]] </i></font>\n[[${INTERFACE_LABEL}]]" as [[${COMPLETE_INTERFACE_PATH}]] [(${colorType})]
  [[${ALIAS}]] -[single,#$[[${#strings.toUpperCase(connectionColor)}]]]- [[${COMPLETE_INTERFACE_PATH}]]
!else
  ' define PUMLComponent as interface endpoint for mixed detailed/non-detailed views.
  ' Variable does not contain a $ sign to catch the alias above
  ![[${COMPLETE_INTERFACE_PATH}]]='[[${ALIAS}]]'
!endif
' Include call stack information only if not disabled by !$APPLICATIONNAME_SIMPLE=%false()
!if ( %not($[[${#strings.toUpperCase(applicationName)}]]_SIMPLE) )
  ' Includes to subsequent importedServices go HERE
  <th:block th:each="callIncludes : ${callStackIncludes}" xmlns:th="http://www.w3.org/1999/xhtml">!include $[[${COMPLETE_INTERFACE_PATH}]]_FILE_BASE_PATH/[[${callIncludes}]].iuml
  </th:block>
!endif

' FIXME REMOVE THIS AFTER CHECK
!if ($SHOW_TODO)
    ' TODO
    note as implNote[(${applicationName})][(${serviceName})][(${interfaceName})] #Red
    [(${COMPLETE_INTERFACE_PATH})]
    is a generated stub.
    PLEASE remove this after checking
    if all calls are included.
    end note
    [[${ALIAS}]] .. implNote[(${applicationName})][(${serviceName})][(${interfaceName})]
!endif

' Methods go here  [[${HTTP_METHODS}]]
!procedure $[(${isRootService} ?  ${applicationName} : ${applicationName}+'_'+${serviceName})]_[[${interfaceName}]]($CALLER="consumer",$CONNECTION_COLOR="DarkSlateGrey")
    !if ($DETAILED)
        ' Detailed call chain with consumer -> Interface --> PUMLComponent
        $CALLER ..[single,#$CONNECTION_COLOR]..> [[${COMPLETE_INTERFACE_PATH}]]
    !else
        'Simple call chain with consumer --> PUMLComponent
        $CALLER --[single,dashed,#$CONNECTION_COLOR]-->> [[${ALIAS}]]
    !endif
    !if (%not($[[${#strings.toUpperCase(applicationName)}]]_SIMPLE))
        ' subsequent importedServices calls go usually HERE
        ' connect with: ("[[${ALIAS}]]",$[[${#strings.toUpperCase(connectionColor)}]])
        <th:block th:each="call : ${callStack}" xmlns:th="http://www.w3.org/1999/xhtml">$[[${call}]]("[[${ALIAS}]]",$[[${#strings.toUpperCase(connectionColor)}]])
        </th:block>
    !endif
!endprocedure

<th:block th:if="${isLinked}" xmlns:th="http://www.w3.org/1999/xhtml">
' Link this application/db to another application/db if the yaml definition said so
!if (%variable_exists("$[[${#strings.toUpperCase(linkedComponent)}]]_COMPONENT_CREATED") && %not(%variable_exists("$DISABLE_AUTO_LINKING")) )
    [[${ALIAS}]] -[single,dotted,#$[[${#strings.toUpperCase(connectionColor)}]]] [[${linkedComponentAlias}]]
!endif
</th:block>
@enduml