@startuml [(${isRootService} ?  ${applicationName} : ${applicationName}+'_'+${serviceName})]_[[${interfaceName}]]
' generated on [[${dateCreated}]]
'!$DETAILED=%true()
'!$[[${#strings.toUpperCase(applicationName)}]]_SIMPLE=%true()
'!$SIMPLE=%true()
'!$SHOW_EXCEPTION=%true()
' include common !functions and !procedures
!if (%variable_exists('$GLOBAL_BASE_URL') && %strpos($GLOBAL_BASE_URL,'http') == 0)
    !$[[${COMPLETE_INTERFACE_PATH}]]_FILE_BASE_PATH?=$GLOBAL_BASE_URL
!else
    !$[[${COMPLETE_INTERFACE_PATH}]]_FILE_BASE_PATH?='[[${commonPath}]]'
!endif
!include $[[${COMPLETE_INTERFACE_PATH}]]_FILE_BASE_PATH/common/common.iuml
!assert %variable_exists("$SIMPLE") : "Please define !$SIMPLE=%false()/%true()"
!assert %variable_exists("$DETAILED") : "Please define !$DETAILED=%false()/%true()"
!assert %variable_exists("$SHOW_EXCEPTION") : "Please define !$SHOW_EXCEPTION=%false()/%true()"
!$[[${#strings.toUpperCase(applicationName)}]]_SIMPLE?=%false()
'Definition of participants
!if (%not($SIMPLE) && %not($[[${#strings.toUpperCase(applicationName)}]]_SIMPLE))
    !if (%not(%variable_exists("$[[${#strings.toUpperCase(applicationName)}]]_PARTICIPANT_CREATED")))
        !$[[${#strings.toUpperCase(applicationName)}]]_PARTICIPANT ?= 'participant "<b>[[${applicationLabel}]]</b>\nPlease define\nthe participant \nin <b>participant_definition.iuml</b>" as [[${ALIAS}]] [(${colorType})] order [[${sequenceOrderPrio}]] #Red'
        ' display the participant
        $[[${#strings.toUpperCase(applicationName)}]]_PARTICIPANT
        !global $[[${#strings.toUpperCase(applicationName)}]]_PARTICIPANT_CREATED='[[${ALIAS}]]'
    !endif
    'Includes to subsequent importedServices go here
    <th:block th:each="callIncludes : ${callStackIncludes}" xmlns:th="http://www.w3.org/1999/xhtml">!include $[[${COMPLETE_INTERFACE_PATH}]]_FILE_BASE_PATH/[[${callIncludes}]].iuml
    </th:block>
!endif

' [[${HTTP_METHODS}]]
[(${isSoapService} ? '\' Define soap method here' : '\' Define CRUD methods here')]
[(${isRestService} ? '\' Crud - Create' : '\'' )]
[(${isRestService} ? '\' cRud - Read/Get' :  '\'')]
!procedure $[(${isRootService} ?  ${applicationName} : ${applicationName}+'_'+${serviceName})]_[[${interfaceName}]]($CALLER="consumer",$REQ_PARAM='Todo')
  ' Either everything is configured to SIMPLE view or only this PUMLComponent and everything behind it
  !if ($SIMPLE || $[[${#strings.toUpperCase(applicationName)}]]_SIMPLE)
    $referenceBox($CALLER,$[[${#strings.toUpperCase(colorName)}]],"Todo")
  !else
    'Business and technical view
    <th:block th:if="${isRestService}" xmlns:th="http://www.w3.org/1999/xhtml">$CALLER -> [[${ALIAS}]] ++ : [[${callInterfaceBy}]]("Todo","GET","[[${SERVICE_LABEL}]][[${INTERFACE_LABEL}]]?"+$REQ_PARAM)
    </th:block>
    <th:block th:unless="${isRestService}" xmlns:th="http://www.w3.org/1999/xhtml">$CALLER -> [[${ALIAS}]] ++ : [[${callInterfaceBy}]]("Todo","[[${#strings.capitalize(SERVICE_LABEL)}]]","[[${INTERFACE_LABEL}]]("+$REQ_PARAM+")")
    </th:block>
    ' subsequent calls
    ' business notes $bBox/$businessBox("CALLER","SIDE","TEXT") oder
    ' technical notes $tBox/$technicalBox("CALLER","SIDE","TEXT")
    <th:block th:each="call : ${callStack}" xmlns:th="http://www.w3.org/1999/xhtml">$[[${call}]]("[[${ALIAS}]]",$REQ_PARAM+"ToDo")
    </th:block>
    ' response
    ' success case
    $CALLER <--  [[${ALIAS}]] : $businessAndTechnicalResponse("businessTodo","ToDoResponseObj","[[${interfaceResponseType}]]") [(${isRestService} ? '$http200' :  '' )]

    !if ($SHOW_EXCEPTION)
      'add else failed clauses here
      alt error
        note over [[${ALIAS}]] #Red
          Possible errors not yet defined
          end note
      else
        $CALLER <-- [[${ALIAS}]] : [(${isSoapService} ? '$soapFault("ERROR-Code","ERROR-Message")' : '' )] [(${isRestService} ? '$http500' : '' )]
      end
    !endif
    deactivate [[${ALIAS}]]
  !endif
!endprocedure
[(${isRestService} ? '\' crUd - Update' : '\'' )]
[(${isRestService} ? '\' cruD - Delete' : '\'' )]
@enduml

