<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/generate}" th:object="${generate}" method="post">
    <table th:object="${files}" id="userTable" border="1">
        <tr th:each="file :${files}">
            <td><input type="checkbox" id="file" value="file"/></td>
            <td th:text="${file}"></td>
        </tr>
    </table>
    <button type="submit" formmethod="post">Submit</button>
    <ul>
        <li th:each="checkboxValue: ${files}">
            <input type="checkbox"
                   th:field="*{files}"
                   th:value="${checkboxValue}" />
            <label
                    th:for="${#ids.prev('files')}"
                    th:text="${checkboxValue}"></label>
        </li>
    </ul>
</form>
</body>
</html>